
body#loginbody{
    background:url(istockphoto-515811540-612x612.jpg) no-repeat right;
    float: center;
    margin:0px;

}
h1{
    font-size: 100px;
    color: coral;
    margin:0px;
    padding:0px;
    
  }
  
h2{
    font: size 100px;
    color:coral;
    font-weight: bold;
    font-family: cursive;
    margin:0px;
    width:30%;
    margin-left: 200px;
  }
  div.login{
    margin-bottom: 30px;
  }

div.body form{
    margin: 80px;
    width: 350px;
    background: rgb(255, 127,80,.5);
    padding: 30px;
    border: 5px solid brown;
    border-radius: 8px;
    
}
div.input label{
    display: block;
    margin-top: 20px ;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color:brown ;
}
.text-overlay {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    text-align: center;
    
  }
  
  div.header{
    width:100%;
    height: 50px;
    background: coral;
    text-align: right;
    padding: 10px 0px ;
  }
  div.header a{
    font-size: 20px;
    color: #fff;
    border: 2px solid transparent;
    border-bottom: 2px solid white;
    padding: 5px 10px;
    text-decoration: none;
  }
  div.header a:hover{
    border-radius: 5px;
    border: 2px solid white;

  }
  div.banner{
    background:url(istockphoto-1311051864-612x612.jpg)no-repeat center center fixed;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;

  } 
  div.homepageConainer{
    width: 100%;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
  }
  div.bannerHeader h1{
    font-size: 100px;
    color: coral;
    text-align: center;
  }
  div.bannerHeader h2{
    font-size: 40px;
    color: coral;
    text-align: center;
    
  }
  p.tagline{
    font-size: 20px;
    font-family: cursive;
    margin-top: 20px;
    line-height: 100%;
    color: coral;

  }
  div.bannerIcons{
    margin-top: 50px;

  }
  div.bannerIcons a{
    font-size: 30px;
    margin-top: 500px;
    margin-left: 40px;
    padding:  7px 15px;
    color:coral;
    border-radius: 50%;
    
  }

  div.bannerIcons a:hover{
    color: #fff;
    background: brown;
  }
  div.homepageFeatures{
    display: flex;
    flex-direction: column;
  
  }
  div.footer{
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
  }
  /* dashoard */
  #dashboardmaincontainer{
    display: flex;
    flex-direction: row;
  }
  div.dashboard_sidebar{
    width: 20%;
    background: peachpuff;
    height: 100vh;
  }
  div.dashboard_content_container{
    width: 80%;
    background: whitesmoke;
  }
  h3.dashboard_logo{
    color: coral;
    font-size: 80px;
    text-align: center;
  }
  div.dashboard_sidebar_user span{
    font-size: 20px;
    text-transform: uppercase;
    color:coral;
    display: inline-block;
  }
div.dashboard_sidebar_user{
  margin-top:25px;
  position: relative;
  border-bottom: 2px solid coral;
  padding-bottom: 8px;
  border-color: white;
}
ul.dashboard_menu_list{
  padding: 20px;
  margin-top: 8px;
}
ul.dashboard_menu_list li{
  padding:15px 0px ;
  font-size: 15px;
  text-transform: uppercase;
}

ul.dashboard_menu_list li a{
text-decoration: none;
color: coral;
height: 100%;
display: block;
font-size: 20px;

}
ul.dashboard_menu_list li:hover{
  background:brown;
  color: #fff;
  transition: 0.3s all;
}
ul.dashboard_menu_list li a.activemenu{
  background:brown;
  color: #fff;
}
div.dashboard_content_top{
  background:white;
  padding: 20px;
}
div.dashboard_content_top{
  color: aliceblue;
  font-size: 20px;
  text-decoration: none;
}
a#logoutbutton{
  float: right;
}
div.dashboard_content{
  padding: 50px 10px 10px 10px;
}
div.dashboard_content_main{
  height: 100%;
  min-height: 800px;

}